<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text.html;charset=utf-8">
  <link rel="icon" href="{{ site.github.url }}/favicon.ico">
  <title>
    {% if page.title_full %}
      {{ page.title_full }}
    {% elsif page.title_prefix %}
      {{ page.title_prefix }} - {{ page.title }}
    {% elsif page.title %}
      The OpenAFS Foundation, Inc. - {{ page.title }}
    {% else %}
      The OpenAFS Foundation, Inc.
    {% endif %}
  </title>
  <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/ui/screen.css">
  {% for filename in page.extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/ui/{{ filename }}">
  {% endfor %}
</head>
<body>
  <div id="header">
    <div class="container">
      <img src="{{ site.github.url }}/ui/img/openafs-logo.png">
      <div class="logo-text">
        <h1>The OpenAFS Foundation, Inc.</h1>
        <p id="main-tagline">
          Championing OpenAFS technology,<br>
          its developers, and its users
        </p>
      </div>
    </div>
  </div>

  {% comment %}
  This navigation stuff could probably be rewritten to use includes or
  something, to make it less repetitive. A todo for the future, if we ever
  care.
  {% endcomment %}
  {% assign level1 = false %}
  {% assign level2 = false %}
  <div class="navigation">
    <div class="container">
      <ul>
      {% for item in site.data.nav %}
        {% if page.nav[0] and page.nav[0] == item.id %}
          {% assign level1 = item %}
          <li class="nav-active"><a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a></li>
        {% else %}
          <li><a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
      <div id="searchbox">
        <form method="GET" action="http://www.google.com/search">
          <input type="hidden" name="ie" value="utf-8">
          <input type="hidden" name="as_sitesearch" value="openafsfoundation.org">
          <input type="text" name="q" size="25" placeholder="Google search">
          <input type="submit" id="searchbutton" value="SEARCH" >
        </form>
      </div>
    </div>
  </div>
  {% if level1 and level1.children %}
  <div class="navigation subnav2">
    <div class="container">
      <ul>
        {% for child in level1.children %}
          {% if page.nav[1] and page.nav[1] == child.id %}
            {% assign level2 = child %}
            <li class="nav-active"><a href="{{ site.github.url }}/{{ child.url }}">{{ child.name }}</a></li>
          {% else %}
            <li><a href="{{ site.github.url }}/{{ child.url }}">{{ child.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% if level2 and level2.children %}
  <div class="navigation subnav3">
    <div class="container">
      <ul>
        {% for child in level2.children %}
          <li><a href="{{ site.github.url }}/{{ child.url }}">{{ child.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div id="content">
    <div class="container normalpage">
      {{ content }}
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <a href="mailto:foundation@openafs.org">foundation@openafs.org</a> | <a href="https://github.com/openafsfoundation/openafsfoundation.org/">Site source</a>
    </div>
  </div>
</body>
</html>
